## knesset_main_queries

In [ ]:
/* 1. */

-- name, age, and year of Knesset 

SELECT name, (1949-yob) AS age, 
1949 AS Year_of_knesset
FROM knesset_main
WHERE candidacy = 'Full' AND cycle = 1
ORDER BY age;

In [ ]:
/* 2. */

-- main_knes - Create View: name, yob, Generation, Cycle, and age

CREATE VIEW main_knesset AS -- Create View
    SELECT * ,
    CASE
        WHEN cycle = 1  THEN (1949-yob) WHEN cycle = 2  THEN (1951-yob) WHEN cycle = 3  THEN (1955-yob)
        WHEN cycle = 4  THEN (1959-yob) WHEN cycle = 5  THEN (1961-yob) WHEN cycle = 6  THEN (1965-yob)
        WHEN cycle = 7  THEN (1969-yob) WHEN cycle = 8  THEN (1974-yob) WHEN cycle = 9  THEN (1977-yob)
        WHEN cycle = 10 THEN (1981-yob) WHEN cycle = 11 THEN (1984-yob) WHEN cycle = 12 THEN (1988-yob)
        WHEN cycle = 13 THEN (1992-yob) WHEN cycle = 14 THEN (1996-yob) WHEN cycle = 15 THEN (1999-yob)
        WHEN cycle = 16 THEN (2003-yob) WHEN cycle = 17 THEN (2006-yob) WHEN cycle = 18 THEN (2009-yob)
        WHEN cycle = 19 THEN (2013-yob) WHEN cycle = 20 THEN (2015-yob) WHEN cycle = 21 THEN (2019-yob)
        WHEN cycle = 22 THEN (2019-yob) WHEN cycle = 23 THEN (2020-yob) WHEN cycle = 24 THEN (2021-yob)   
            END AS age
    FROM (
        SELECT 
            name, 
            yob,
            CASE
                WHEN yob BETWEEN 1860 AND 1882 THEN '1. Missionary Generation'
                WHEN yob BETWEEN 1883 AND 1900 THEN '2. Lost Generation'
                WHEN yob BETWEEN 1901 AND 1927 THEN '3. Greatest Generation'
                WHEN yob BETWEEN 1928 AND 1945 THEN '4. Silent Generation'
                WHEN yob BETWEEN 1946 AND 1964 THEN '5. Baby Boomers'
                WHEN yob BETWEEN 1965 AND 1980 THEN '6. Generation X'
                WHEN yob BETWEEN 1981 AND 1996 THEN '7. Millennials Y'        
                    END AS Generation,
            cycle
    FROM    ) AS foo

In [ ]:
/* 2.1 Select from View */
-- sum of generation by year 

SELECT generation, COUNT(cycle), 
CASE
    WHEN cycle = 1  THEN (1949) WHEN cycle = 2  THEN (1951) WHEN cycle = 3  THEN (1955)
    WHEN cycle = 4  THEN (1959) WHEN cycle = 5  THEN (1961) WHEN cycle = 6  THEN (1965)
    WHEN cycle = 7  THEN (1969) WHEN cycle = 8  THEN (1974) WHEN cycle = 9  THEN (1977)
    WHEN cycle = 10 THEN (1981) WHEN cycle = 11 THEN (1984) WHEN cycle = 12 THEN (1988)
    WHEN cycle = 13 THEN (1992) WHEN cycle = 14 THEN (1996) WHEN cycle = 15 THEN (1999)
    WHEN cycle = 16 THEN (2003) WHEN cycle = 17 THEN (2006) WHEN cycle = 18 THEN (2009)
    WHEN cycle = 19 THEN (2013) WHEN cycle = 20 THEN (2015) WHEN cycle = 21 THEN (2019)
    WHEN cycle = 22 THEN (2019) WHEN cycle = 23 THEN (2020) WHEN cycle = 24 THEN (2021)   
        END AS year_of_knesset
FROM main_knesset 
GROUP BY generation, cycle
ORDER BY cycle, generation

In [ ]:
/* 2. */ -- TEMP

-- main_knes - Create View: name, yob, Generation, Cycle, and age
-- for R plotting CSV export

CREATE VIEW gen AS -- Create View
    SELECT * ,
    CASE
        WHEN cycle = 1  THEN (1949-yob) WHEN cycle = 2  THEN (1951-yob) WHEN cycle = 3  THEN (1955-yob)
        WHEN cycle = 4  THEN (1959-yob) WHEN cycle = 5  THEN (1961-yob) WHEN cycle = 6  THEN (1965-yob)
        WHEN cycle = 7  THEN (1969-yob) WHEN cycle = 8  THEN (1974-yob) WHEN cycle = 9  THEN (1977-yob)
        WHEN cycle = 10 THEN (1981-yob) WHEN cycle = 11 THEN (1984-yob) WHEN cycle = 12 THEN (1988-yob)
        WHEN cycle = 13 THEN (1992-yob) WHEN cycle = 14 THEN (1996-yob) WHEN cycle = 15 THEN (1999-yob)
        WHEN cycle = 16 THEN (2003-yob) WHEN cycle = 17 THEN (2006-yob) WHEN cycle = 18 THEN (2009-yob)
        WHEN cycle = 19 THEN (2013-yob) WHEN cycle = 20 THEN (2015-yob) WHEN cycle = 21 THEN (2019-yob)
        WHEN cycle = 22 THEN (2019-yob) WHEN cycle = 23 THEN (2020-yob) WHEN cycle = 24 THEN (2021-yob)   
            END AS age
    FROM (
        SELECT 
            name, 
            yob,
            CASE
                WHEN yob BETWEEN 1860 AND 1882 THEN 1
                WHEN yob BETWEEN 1883 AND 1900 THEN 2 
                WHEN yob BETWEEN 1901 AND 1927 THEN 3 
                WHEN yob BETWEEN 1928 AND 1945 THEN 4 
                WHEN yob BETWEEN 1946 AND 1964 THEN 5 
                WHEN yob BETWEEN 1965 AND 1980 THEN 6 
                WHEN yob BETWEEN 1981 AND 1996 THEN 7       
                    END AS Generation,
            cycle
    FROM gen_num) AS foo

In [ ]:
-- Missionary Generation	1860-1882
-- Lost Generation	1883-1900
-- Greatest Generation	1901-1927
-- Silent Generation	1928-1945
-- Baby Boomers	1946-1964
-- Generation X	1965-1980
-- Millennials Y	1981-1996